* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* neutral */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --dakGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

.desktop {
  display: none;
}

body {
  background-color: var(--cream);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 340px;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);
}

.p-desktop {
  display: none;
}

.img .mobile img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.desc {
  padding: 20px;
  height: 100%;
}

.desc .cat {
  font-size: 13px;
  letter-spacing: 2px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  color: var(--dakGrayishBlue);
}

.desc h1 {
  font-size: 30px;
  font-weight: 900;
  padding: 10px 0;
  font-family: "Fraunces";
}

.desc p {
  color: var(--dakGrayishBlue);
  line-height: 1.5;
  font-size: 16px;
}

.desc .price {
  padding: 15px 0;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
}

.desc .price span:nth-child(1) {
  font-size: 32px;
  font-weight: 900;
  color: var(--darkCyan);
  font-family: "Fraunces";
}

.desc .price span:nth-child(2) {
  font-size: 15px;
  text-decoration: line-through;
  color: var(--dakGrayishBlue);
}

.desc button {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white);
  background-color: var(--darkCyan);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.desc button:hover {
  background-color: hsl(158, 36%, 30%);
}

@media only screen and (min-width: 1440px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .img .desktop img {
    border-radius: 10px 0 0 10px;
    width: 100%;
  }

  .p-mobile {
    display: none;
  }

  .p-desktop {
    display: block;
  }

  .container {
    width: 600px;
    border-radius: 10px;
  }

  .product {
    flex-direction: row;
    height: 100%;
  }

  .img {
    width: 50%;
  }

  .desc {
    width: 50%;
    padding: 45px 40px;
  }
}
